
.chattalker{
    margin: 0 auto; 
    
    @include mac{
        max-width: 1920px;
    }
}
.top_botton{
    text-decoration: none;
    @include back_botton;
    h1{
        text-align: center;
        margin-top: 25px;
        font-weight: bold;
        font-size: 18px;
    }
}
.top_botton:hover{
   @include back_botton;
   width: 80px;
   height: 80px;
   transition-duration: 0.5s;
   h1{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
   }
}

.header{
    position: relative;
    width: 100%;

    @include ipad{
        width: 100%;
    }
    @include iphone{
        width: 100%;
        
    }
     .home{
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: -100;
        width: 70%;
       @include iphone{
        width: 100%;
        display: none;
        
       }
     
    }
    img.home_2{
        position: absolute;
        right: 0px;
        top: 350px;
        z-index: -100;
        width: 100%;
        @include mac{
            display:none;
        }
        @include ipad{
            display: none;
        }
     }

}
.navbar{
    width: 100%;
    display: flex;
    @include ipad{
        width: 100%;
    }
    @include iphone{
        width: 100%;
        flex-wrap: wrap;
    }
    
}
 .logo img{
    margin-top: 30px;
    margin-left: 150px;
    width: 130px;
    z-index: 100;
    @include iphone{
        margin-left: 50px;
    }
 }
 input{
   @include inputBottom;
   @include ipad{
    margin-left: 400px;
   }
   @include iphone{
    
    
    margin-left: 400px;
    margin-top: -30px;
}
   
 }
 input:hover{
    opacity: 1;
    transition-duration: 0.8s;
    background-color: darken($payment_color,10%);
    font-weight: bold;
  }
  .bookcover{
    display: flex;
    width: 100%;
    position: relative;
    @include ipad{
        width: 100%;
    }
    @include iphone{
        width: 100%;
        flex-wrap: wrap;
    }
  }
   .illustration img{
    position: absolute;
    width: 400px;
    z-index: 100;
    left: 600px;
    top: 150px;
    padding: 10px;
    @include ipad{
        width: 300px;
        left: 500px;
        top:100px
    }
    @include iphone{
        width: 400px;
        left: 50px;
        top:200px;
    }
  }
.title{
    @include topic_font;
    @include iphone{
        margin-left: 50px;
        margin-top: 20px;
    }
    p{
       @include p_font;     
    }
}
.specialh2{
    font-size: 15px;
    font-weight: bold;
    color: $topic_color;
}
.paragraph_2{
    width: 100%;
    position: relative;
    margin-top: 300px;
    @include ipad{
        width: 100%;
    }
    @include iphone{
        width: 100%;
       margin-top: 500px;
    }
}
.green_circle img{
    position: absolute;
    top:-100px;
    left:-220px;
    @include iphone{
        width: 60%;
        top: 200px;
    }
}
.slogan_1{
    @include slogan;
    
}
.social_media{
    width: 100%;
    @include display_set;
    @include ipad{
        width: 100%;
        flex-wrap:wrap;
    }
    @include iphone{
        width: 100%;
        flex-wrap: wrap;
    }
    h1{
        font-size: 20px;
        padding-bottom: 15px;
      }
    p{
       @include p_font;
       color: #747474;
    }
}
.facebook img,.line img,.ig img{
    @include social_media;
}
.facebook,.line,.ig{
    @include iphone{
        margin-top: 30px;
    }
}
.paragraph_3{
    width: 100%;
    position: relative;
    @include ipad{
        width: 100%;
    }
    @include iphone{
        width: 100%;
       
    }
}
.slogan_2{
    display:block;
    .role_slogan{
        @include slogan;
        padding: 150px 0px 20px ;
    }
    .service_slogan{
        @include p_font;
    
    }

}








.card_total{
   @include display_set;
   z-index: 100;
   width: 100%;
   @include ipad{
    width: 100%;
    flex-wrap: wrap;
}  @include iphone{
    width: 100%;
    flex-wrap: wrap;
}
   h1{
    color: $topic_color;
 }
   p{
    @include p_font;
    line-height: 0.5cm;
    margin-top: 10px;
    font-size: 12px;
 }
  @include ipad{
    width: 100%;
    
}
  @include iphone{
    width: 100%;
    
}

}
.introduce{
    background-color: #fff;
    width: 200px;
    height: 100px;
    margin-top: 15px;  
}
.card{
    margin: 50px 50px 50px;
    box-shadow: 0px 2px 10px #00000014;   
    border-radius: 0px 0px 12px 12px ;
}
.card img{
  width: 200px;  
  border-radius: 12px 12px 0px 0px ;
}
.phototext{
    border-radius: 20px;
}

.balls2{
    margin-left: 1200px;
    margin-top: -180px;
    z-index: -100;
    overflow: hidden;
}


 
.paragraph_4{
    margin-top: -50px;
    width: 100%;
    display: flex;
    position: relative;
    @include ipad{
        width: 100%;
    }
    @include iphone{
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .frame_total{
        width: 60%;
        @include display_set;
        flex-wrap:wrap;
    }
    .brand_introduce{
        width: 40%;
    }
}
.circle {
    box-shadow: 0px 2px 10px #00000014;
    border: solid 1px white;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    z-index: -100;
    margin-top: 25px;
    margin-left: 5px;
    
  }

  .frame_total{
    @include iphone{
        width: 100%;
        margin-left: 100px;
        margin-bottom: 50px;

    }
     
      img{
          margin-top: 5px;
          width: 40px;  
           
      }
      
      h1{
         text-align: left;
          margin: 30px 30px 20px ;
         
      }

      p{
          @include p_font;
          text-align: left;
          margin: 0px 30px 80px ;;
      }
  
      .frame_1{
          left:170px;
          @include frame;
         
      }
      .frame_2{
          @include frame;
          left:400px;
      }
      .frame_3{
          @include frame;
          top: 300px;
          left:170px;
      }
      .frame_4{
          @include frame;
          top: 300px;
          left:400px;
      }
     }


   .brand_introduce{
    @include iphone{
        width: 100%;
        margin-left: 100px;
        margin-bottom: 50px;
        text-align: center;

    }
    
     
    h1{
        
        text-align: left;
        margin: 200px 0px 20px 50px;
        font-size: 24px;
        font-weight: bold;
        @include iphone{
          width: 100%;
          line-height: 1.5em;
          font-size: 18px;
          text-align: center;
        } 
        
    
    }
    p{
        @include p_font;
        text-align: left;
        margin-left: 50px;
        @include iphone{
            width: 100%;
            text-align: left;
            padding-right: 50px;
            font-size: 12px;
            line-height: 2em;
          } 
        
    }
    button{
        @include inputBottom;
        margin-left: 50px;
        width: 100px;
        background-color: $topic_color;
    }
   }
   




   .paragraph_5{
    width: 100%;
    position: relative;
       h1{
           @include slogan;
           padding-top: 100px;
           margin-bottom: 50px;
       }
       @include ipad{
        width: 100%;
    }
    @include iphone{
        width: 100%;
        
    }
   }
   .balls_3 img{
       @include iphone{
        width:70%;
        top:20px;
        left:-180px;
       }
        width: 10%;
        z-index: -100;
        position: absolute;
        top:130px;
        left:100px
   }
   .command{
    @include display_set;
    width: 100%;
    @include ipad{
        flex-wrap: wrap;
        width: 100%;
    }
    @include iphone{
        width: 100%;
        flex-wrap: wrap;
    }
    
       
   }
   .user{
    width: 300px;
    height: 210px;
    margin-left: 20px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0px 2px 10px #00000014;
      @include iphone{
        margin-bottom: 100px;
      }
    p{
        @include p_font;
        margin: 20px;
        text-align: left;
    }
    h3{
        font-size: 12px;
        margin-left: 20px;
    }
   }
    img.photo_1,img.photo_2,img.photo_3{
      @include user;
    }
      

.line_s{
    border: solid 1px #dddddd;
    width: 90%;
    margin: 0px 20px;
    opacity:0.6;
}
.company{
    font-size: 15px;
    text-align: left;
    margin: 20px;
    font-weight: bold;
}



.name_star{
    display:flex;
    justify-content: center;
    width: 100%;
    @include ipad{
        width: 100%;
        display: flex;
    }
    @include iphone{
        width: 100%;
        flex-wrap: wrap;
    }
}
.star{
    display:flex;
    // border:solid 1px black;
    margin-bottom: 20px;
    
    img{
        margin-left: 10px;
        width: 10%;
    }
   
}


.footer {
    width: 100%;
    @include ipad{
        width: 100%;
    }
    @include iphone{
        width: 100%;
       
    }

    h1{
        @include iphone{
            margin-top: -80px;
        }
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        margin-top: -150px;
    }
}
.footer_button{
  margin-top: 50px;
    button{
        display: block;
        @include inputBottom;
        background-color: $topic_color;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}

.footer_home{
    img{
        @include iphone{
           
        }
        width: 100%;
        margin: 150px 0px 50px;
        
    }
}

    

